{% extends 'base.html' %}
{% load staticfiles %}
{% block title_block %}
    Login
{% endblock %}

{% block body_block %}
    <h1>Login to Rango</h1>
    Rango says <strong>register here!</strong><br />
    <form id="login_form" action="/rango/login/" method="post">
        {% csrf_token %}
        <p>Username: <input type="text" name="username" value="" size="50"></p>
        <br />
        <p>Password: <input type="password" name="password" value="" size="50"></p>
        <br />
        <input type="submit" name="submit" value="Login" />
    </form>
{% endblock %}
