#user_form>p {
  display: flex;
  flex-direction: column;
}
#user_form>p>input[type="text"],#user_form>p>input[type="email"],#user_form>p>input[type="password"],#user_form>p>input[type="url"] {
  width: 50%;
}
#page_form {
  display:flex;
  flex-direction:column;
  width:max-content;
}
body.main_wrapper.header {
  background: black;
  display: flex;
  width: 100%;
  flex-flow: row wrap;
}
